<div class="input-group">
	<input [attr.id]="'txt'+ name" #calInput
		[disabled]="disabled"
		bsDatepicker type="text" class="form-control"
		[(ngModel)]="formattedVal"
		[minDate]="minDateInner"
		[placeholder]="placeholder"
		[attr.required]="required || null"
		[bsConfig]="{
			dateInputFormat: this.dateFormat,
			selectFromOtherMonth: true,
			keepDatesOutOfRules: true,
			adaptivePosition: true,
			containerClass: 'theme-default',
			showWeekNumbers: false
		}">

	<span class="input-group-text" (click)="calInput.click()">
		<em class="bi bi-calendar"></em>
	</span>
	<!-- <div class="input-group-append">
		<span class=" input-group-text">
			<em class="glyphicon glyphicon-calendar "></em>
		</span>
	</div> -->
</div>
<div>
	<br>
	required:{{required}}
	<!-- {{dateFormat}}
	<br>{{minDateInner}}
	<br>{{maxDateInner}} -->
</div>
